__pycache__/
*.py[cod]
.venv/
.venv-ls/
venv/
.env
*.pt
*.pth
runs/
.idea/
.DS_Store
Ultralytics/
data/raw/*
!data/raw/.gitkeep
data/images/train/*
!data/images/train/.gitkeep
data/images/val/*
!data/images/val/.gitkeep
data/images/test/*
!data/images/test/.gitkeep
data/labels/train/*
!data/labels/train/.gitkeep
data/labels/val/*
!data/labels/val/.gitkeep
data/labels/test/*
!data/labels/test/.gitkeep
data/labels/*.cache
weights/*
!weights/.gitkeep
